
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}



</style>

<title>mastergcorp</title>

<div class="container flex-center position-ref full-height">
  <div class="row " >
    <div class="col-md-12 col-ms-12 col-sm-12">
      <h1>{{page_title}}</h1>
      <h1 class=" title"> Aaron Jorkaef Jacobo test </h1>
    </div>

    <div class=" col-md-6 col-sm-12 col-xs-12">

      <form>
          <div class="form-group">
            <label> Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="Input Your Name">

          </div>
          <div class="form-group">
            <label >Password</label>
            <input type="password" class="form-control" id="password">
          </div>

          <button onclick="myFunction()" class="btn btn-primary">submit</button>
        </form>
    </div>
  </div>


</div>
